<div class="chat_home">
  <div class="ichiran">
    <div id="messages">
      <%= render @messages %>
    </div>
    
  </div>
  <form>
    <input type="text" data-behavior="room_speaker">
  </form>
</div>
